<title>Health Check</title>

{% extends "base.html" %} {% block contents %}
<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800">새 건강검진 등록</h1>

  <form action="/health/create" method="POST" class="user">
    <div class="form-group row">
      <div class="col-sm-4">
        <label>이름</label>
        <input type="text" name="name" class="form-control" required />
      </div>
      <div class="col-sm-4">
        <label>나이</label>
        <input type="number" name="age" class="form-control" required />
      </div>
      <div class="col-sm-4">
        <label>성별</label>
        <select name="gender" class="form-control">
          <option value="male">남성</option>
          <option value="female">여성</option>
        </select>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <label>키(cm)</label>
        <input
          type="number"
          step="0.1"
          min="50"
          max="250"
          name="height"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>체중(kg)</label>
        <input
          type="number"
          step="0.1"
          min="10"
          max="300"
          name="weight"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>체질량지수(BMI)(kg/m²)</label>
        <input
          type="number"
          step="0.1"
          min="0"
          max="40"
          name="BMI"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>허리둘레(cm)</label>
        <input
          type="number"
          step="0.1"
          min="10"
          max="300"
          name="waist"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>시력(좌)</label>
        <input
          type="number"
          step="0.1"
          name="vision_left"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>시력(우)</label>
        <input
          type="number"
          step="0.1"
          name="vision_right"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4 mb-3">
        <label>청력(좌)</label>
        <select name="hearing_left" class="form-control">
          <option value="0">이상</option>
          <option value="1">정상</option>
        </select>
      </div>
      <div class="col-sm-4 mb-3">
        <label>청력(우)</label>
        <select name="hearing_right" class="form-control">
          <option value="0">이상</option>
          <option value="1">정상</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label>수축기 혈압(mmHg)</label>
        <input
          type="number"
          step="0.1"
          min="30"
          max="300"
          name="systolic_bp"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>이완기 혈압(mmHg)</label>
        <input
          type="number"
          step="0.1"
          min="30"
          max="200"
          name="diastolic_bp"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>혈색소(g/dL)</label>
        <input
          type="number"
          step="0.1"
          min="0"
          max="100"
          name="hemoglobin"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>공복혈당(mg/dL)</label>
        <input
          type="number"
          step="0.1"
          min="10"
          max="300"
          name="fasting_glucose"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>혈청크레아티닌(mg/dL)</label>
        <input
          type="number"
          step="0.1"
          min="10"
          max="300"
          name="creatinine"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>신사구체여과율(mL/min/1.73m²)</label>
        <input
          type="number"
          step="0.1"
          min="10"
          max="300"
          name="eGFR"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4 mb-3">
        <label>요단백</label>
        <select name="urine_protein" class="form-control">
          <option value="0">음성</option>
          <option value="1">양성</option>
          <option value="2">의심</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label>AST(IU/L)</label>
        <input
          type="number"
          step="0.1"
          min="0"
          max="2000"
          name="AST"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>ALT(IU/L)</label>
        <input
          type="number"
          step="0.1"
          min="0"
          max="2000"
          name="ALT"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4">
        <label>γ-GTP(IU/L)</label>
        <input
          type="number"
          step="0.1"
          min="0"
          max="1000"
          name="rGTP"
          class="form-control"
          required
        />
      </div>
      <div class="col-sm-4 mb-3">
        <label>흉부방사선촬영</label>
        <select name="xray" class="form-control">
          <option value="0">음성</option>
          <option value="1">양성</option>
        </select>
      </div>
      <div class="col-sm-4 mb-3">
        <label>구강검진</label>
        <select name="dental_exam" class="form-control">
          <option value="0">음성</option>
          <option value="1">양성</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block">
      저장하기
    </button>
  </form>
</div>
{% endblock %}