<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block title %}{% endblock %}

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet"/>
  </head>

  <body>

    <!-- flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="flash-message alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endwith %}

    <!-- AUTH WRAPPER -->
    <div class="auth-wrapper">
      <div class="card auth-card">
        <div class="card-body auth-body">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/parsleyjs"></script>

    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>

  </body>
</html>